* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.bg-color {
  background-color: #454546;
}

.imagenBsAs {
  filter: brightness(40%);
}

.inicio {
  top: 15rem;
  right: 10%;
  color: white;
  text-align: right;
}

button {
  border-radius: 1px;
  gap: 1rem;
}

.especialidades {
  display: flex;
  gap: 0.5rem;
}

.js {
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 14px;
}

.react {
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  margin-bottom: 7px;
}

.negocios {
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.startups {
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  margin-bottom: 7px;
}

.inputNombre {
  width: 22%;
  margin-left: 25%;
  gap: 1rem;
  border-color: rgb(233, 233, 233);
  border-radius: 3px;
  text-align: start;
  margin-top: 1rem;
}

.inputApellido {
  width: 22%;
  margin-left: 6%;
  gap: 1rem;
  border-color: rgb(233, 233, 233);
  border-radius: 3px;
  margin-top: 1rem;
}

.textarea {
  margin-top: 1rem;
  height: 5%;
  margin-left: 25%;
  border-color: rgb(233, 233, 233);
  border-radius: 3px;
  height: 95px;
}

.footer {
  align-items: center;
  gap: 5rem;
  font-size: 14px;
}

.background-darkblue {
  background-color: rgb(28, 61, 78);
}

.boton{
  background-color: #96c93e;
  border-color: #96c93e;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 5px;
  color: white;
}


/* desktop */
@media (min-width: 960px) {

  .padding-right-navbar {
    padding-right: 15rem;
  }

  .imagenBsAs {
    width: 100%;
  }

  .inicio{
    width: 37rem;
  }

  .margin-navbar{
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .tarjetas {
    display: flex;
  }

  .gap-input {
    gap: 2rem;
  }

  .contenedor-img-texto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
  }

  .formulario-hablador{
    width: 50%;
  }

  .navbar-collapse{
    flex-grow: 0;
  }

  .contenedor-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* tablet */
@media (min-width: 480px) and (max-width: 960px) {

  .tarjetas{
    display: flex;
    margin: 0 1rem;
  }

  .imagen-honolulu{
    width: 100% !important;
  }

  .contenedor-texto{
    margin-bottom: 5rem;
  }

  .contenedor-texto h5{
    font-size: 2rem;
  }

  .contenedor-texto p{
    font-size: 1rem;
  }

  .contenedor-texto button{
    font-size: 1rem;
  }

  .footer {
    gap: 1rem;
  }

  .contenedor-formulario{
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }

  .gap-input {
    gap: 0.5rem;
  }

  .inicio{
    top: 9rem;
  }

  .honolulu-texto{
    width: 100% !important;
    margin: 0;
  }
}

/* mobile */
@media (max-width: 480px) {

  .inicio {
    top: 20%;
    right: 3%;
    font-size: 16px;
    margin: 1rem;
  }

  .inicio button{
    font-size: 14px;
  }

  .imagenBsAs {
    height: 34rem;
  }

  .tarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boton {
    width: 100%;
  }

  .contenedor-formulario{
    margin: 1rem;
  }

  .gap-input {
    gap: 0.5rem;
  }

  .footer {
    align-items: center;
    gap: 1.5rem;
  }

  .contenedor-img-texto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
